body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: sans-serif;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: white;
}

.app-container { /* Adjust according to your structure */
  min-height: 100vh;
  
}


